<ion-header>
  <ion-toolbar>
    <ion-title>Input</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default -->
<ion-input></ion-input>

<!-- Com value -->
<ion-input value = "Alou"></ion-input>

<!-- Com placeholder -->
<ion-input placeholder = "Inform you name"></ion-input>

<!-- Com icon clear -->
<ion-input clearInput placeholder = "Com Clear" ></ion-input>
<!-- Com valor telefonico -->
<ion-input type = "number" placeholder = "Numero tel"></ion-input>
<!-- Com valor url -->
<ion-input type = "url" placeholder = "Url"></ion-input>
<!-- Com valor search -->
<ion-input type = "search" placeholder = "Procura"></ion-input>
<!-- Com valor search -->
<ion-input type = "password" placeholder = "Procura"></ion-input>

<ion-item>
  <ion-label  position = "stacked">First Name</ion-label>
  <ion-input clearInput placeHolder ="Informe seu nome"></ion-input>
</ion-item>
<ion-item>
  <ion-label position = "floating">Last Name</ion-label>
  <ion-input clearInput placeHolder ="Informe seu ultimo nome"></ion-input>
</ion-item>
<ion-item>
  <ion-label position = "stacked">DATA</ion-label>
  <ion-input type="date" clearInput placeHolder ="DD/MM/AAAA"></ion-input>
</ion-item>

</ion-content>


