<ion-header>
  <ion-toolbar>
    <ion-title>Datetime</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime display-format ='DD/MM/YYYY'></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Display+Picker</ion-label>
    <ion-datetime display-format ='DD/MMMM/YYYY' picker-format = "MMMM YYYY"></ion-datetime>
  </ion-item>
  

</ion-content>
