<ion-header>
  <ion-toolbar>
    <ion-title>Radio</ion-title>
    <ion-buttons slot = 'start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Fruits</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Abacate</ion-label>
      <ion-radio value ='abacate'></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Melão</ion-label>
      <ion-radio value ='melao'></ion-radio>

    </ion-item>
    <ion-item>
      <ion-label>Uva</ion-label>
      <ion-radio value ='uva'></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
</ion-content>
