<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button>Default</ion-button>
<ion-button color='primary'>Primary</ion-button>
<ion-button color='secondary'>Secondary</ion-button>
<ion-button color='success'>Success</ion-button>
<ion-button color='danger'> <ion-icon name='star' slot='start'>Like</ion-icon>Danger</ion-button>
<ion-button color='warning'>warning</ion-button>
<ion-button color='light'>light</ion-button>
<ion-button color='medium'>medium</ion-button>
<ion-button color='dark'>dark</ion-button>
<ion-button color='dark' expand ='full'>full</ion-button>
<ion-button expand ='block'>block</ion-button>
<ion-button round >round</ion-button>
<ion-button fill='outline' >outline</ion-button>

<ion-button color='dark'size ='small'>small</ion-button>
<ion-button color='dark'size ='medium'>medium</ion-button>
<ion-button color='dark'size ='large'>large</ion-button>

<ion-button href ="/components" goBack>Back</ion-button>
</ion-content>
