<ion-header>
  <ion-toolbar>
    <ion-title>Popover</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand = "block" color="secondary"(click) = "showPopover($event)">Abrir Popover</ion-button>
<ion-button expand = "block" color="secondary"(click) = "showPopoverTranslucent($event)">Abrir Popover Translucent</ion-button>
<ion-button expand = "block" color="dark"(click) = "showPopoverAndroid($event)">Abrir Popover Android</ion-button>
<ion-button expand = "block" color="danger"(click) = "showPopoverIos($event)">Abrir Popover Ios</ion-button>
</ion-content>
