<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-button expand="full"(click) = "abrirPagina('component-action-sheet')">Action Sheet</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-alert')">Alert</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-badges')">Badges</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-button')">Button</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-cards')">Cards</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-checkbox')">Checkbox</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-radio')">Radio</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-datetime')">DateTime</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-fab')">Fab</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-input')">Input</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-list')">List</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-loading')">Loading</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-modal')">Modal</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-page')">Page</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-select')">Select</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-slide')">Slide</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-toast')">Toast</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-scroll')">Scroll</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-popover')">Popover</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-refresh')">Refresh</ion-button>
 <ion-button expand="full"(click) = "abrirPagina('component-searchbar')">SearchBar</ion-button>

</ion-content>
