<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Component Alert</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-button expand="full"(click) = "abrirAlertSimples()">Abrir alert simples</ion-button>
  <ion-button expand="full"(click) = "abrirAlertMultiplo()">Abrir alert multiplo</ion-button>
  <ion-button expand="full"(click) = "abrirAlertConfirmacao()">Abrir alert confirmação</ion-button>
  <ion-button expand="full"(click) = "abrirPrompt()">Abrir Prompt</ion-button>
</ion-content>
